# Dot files, disallow by default, and enable explicitly
\.*
!\.azure-pipelines
!\.bazelci
!\.bazelignore
!\.bazelrc
!\.bazelproject
!\.bazelversion
!\.circleci
!\.clang-format
!\.clang-tidy
!\.coveragerc
!\.devcontainer
!\.dockerignore
!\.eslintrc.yml
!\.flake8
!\.gitattributes
!\.github
!\.gitignore
!\.python-version
!\.style.yapf
!\.yamllint
!\.yapfignore
!\.zuul
!\.zuul.yaml

/bazel-*
/mobile/bazel-*
BROWSE
/build
/build_*
*.bzlc
compile_commands.json
cscope.*
/generated
*.pyc
**/pyformat
SOURCE_VERSION
*.swap*
tags
TAGS
clang-tidy-fixes.yaml
clang.bazelrc
user.bazelrc
CMakeLists.txt
cmake-build-debug
/linux
bazel.output.txt
*~
**/.DS_Store
**/*.iml

node_modules
dist
*.bak

target